body{
    margin: 0;
    padding: 0;
  }
  .icon{
    position:absolute;
    top: 25%;
    transform: translateY(-20%);
    width: 100%;
    text-align: center;
  }
  .tombol{
    display: inline-block;
    width: 8%;
    height: 50%;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 20%;
    box-sizing: 0 5px 10px -5px #00000070;
    overflow: hidden;
    position: relative;
    color: #2980b9;
  }
  .tombol i{
     transition: 0.2s linear;
     font-size: 26px;
     line-height: 90px;
  }
  .tombol:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .tombol::before{
   content: "";
   position: absolute;
   width: 120px;
   height: 120px;
   left: -110px;
   top: 90%;
   transform: rotate(45deg);
   background: #3498db;
  }
  .tombol:hover::before{
   left: -10%;
   top: -10%;
   animation: aaa 0.7s 1;
   }
   @keyframes aaa{
    0%{
      left: -110%;
      top: 90%;
    }
    50%{
      left: 10%;
      top: -30%;
    }
    100%{
      left: -10%;
      top: -10%;
    }
  }
 